body {
  background-color: #252932;
}
.cycle {
  background-color: #d6587c;
  padding: 20px 0;
  color: #fff;
}
.imgres {
  width: 80%;
}
.imgres-100 {
  width: 100%;
}
.eye {
  width: 200px;
  position: absolute;
  bottom: -211px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.herobg {
  background-image: url('../img/hero-bg.png');
  background-size: cover;
  height: 500px;
}
.jumbotron {
  padding-left: 0!important;
  padding: 0;
  background-color: #252932;
  height: 100%;
  min-height: 500px;
  font-size: 26px;
  color: #697181;
  margin-bottom: 0;
}
#vslider li {
  color: #323740;
}
#vslider li:nth-child(2) {
    color: #fff;
}
#vslider li {
  line-height: 60px;
}
.intro {
  margin-top: 115px;
  padding-left: 60px;
}
.grey {
  color: #9494a1;
}
.emphasis {
  color: #000;
}
.subheader {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#prototyping, .relaxed {
  padding-top: 40px;
  padding-bottom: 60px;
}
.eye-bottom {
  padding-bottom: 20px;
}
.relaxed {
  padding-left: 10%;
  padding-right: 10%;
}
.research {
  margin: 0 8%;
}
.testing {
  padding: 60px 10%;
}
.nomargin {
  margin: 0;
}
.nomargin.research {
  padding: 30px;
  background-image: url('../img/bggrey1.jpg');
  background-size: 1390px;
}
.nomargin.testing {
  background-image: url('../img/bggrey2.jpg');
  background-size: cover;
}
.research .text-left {
  background: #fff;
  padding: 30px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-collapse {
  background-color: #181e20;
  margin-top: 7px;
}
.navbar {
  font-weight: 700;
  text-transform: uppercase;
  color: #8e9699;
}
.ui-design {
  background-color: #020000;
}
.code {
  background-color: #fbfbfb;
}
.navbar-default {
  border: 0px;
}
.navbar .container-fluid {
  padding: 0;
  background-color: #181e20;
}
.navbar ul {
  border-bottom: 1px solid #393e41;
}
.nav>li>a {
  padding: 22px 25px 13px;
}
.navbar li:hover {
  border-bottom: 1px solid #ff6969;
}
.navbar li:hover:nth-child(4) {
  border-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color:unset;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar .container-fluid {
    height: 100px;
  }
  .navbar ul {
    height: 56px;
  }
}
.navbar-default .navbar-nav>.active>a {
  background-color: unset;
  color: #fff;
}
.navbar-default .navbar-nav>.active {

  border-bottom: 1px solid #ff6969;
}
.navbar-default .navbar-nav>.active>a:hover{
  background-color: unset;
  color: #fff;
}
.navbar-nav > li:before {
    content: "◆";
    color: #3e4c50;
    position: absolute;
    width: 6px;
    height: 6px;
    font-size: 8px;
    top: 50%;
    margin-top: -3px;
    right: -3px;
    z-index: 1;
}
.navbar li:nth-child(4):before, .navbar li:nth-child(3):before, .navbar li:nth-child(7):before {
  content: "";
}
.navbar-nav a:hover:before, .navbar-default .navbar-nav>.active a:before {
    content: "▴";
    color: #3e4c50;
    position: absolute;
    width: 6px;
    height: 6px;
    color: #ff6969;
    font-size: 10px;
    bottom: 10px;
    left: 50%;
    margin-top: -3px;
    right: -3px;
    z-index: 1;
}
.navbar-nav li:nth-child(4) a:hover:before {
  content: "";
}
.container .jumbotron {
  border-radius: 0;
}
.middle {
  padding-top: 100px;
}
#next, #prev {
  width: 50px;
  margin-left: 80px;
}
#next {
  margin-top: 20px;
}
#prev {
  margin-bottom: 20px;
}
.code {
  padding-top: 50px;
  padding-bottom: 200px;
}
